body {
    margin-left: 200px;
    margin-right: 200px;
}

.pp {
    column-count: 1;
}

.nav {
    overflow: hidden;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-left: 20px;
    margin-right: 20px;

  }
  
  .nav a {
    float: left;
    color: #f39c12;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
  }
  
  .nav a:hover {
    color: black;
    cursor: pointer;
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    animation: spring 300ms ease-out;
    background-size: 100% 100%;
    color: #27262c;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;

  }

  .navbar h2{
      text-align: center;
      color: tomato;
      text-decoration: underline;
  }

.container{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    background: #34495e;
    color: white;
}

img{
    width: 400px;
    height: 350px;
    border-radius: 100%;
    background-image: url(../images/p.jpg);
    background-size: contain;
    background-position: center;
    border: solid white 3px;
    margin-right: 30px;
    margin-top: 20px;
}
.apply{
    text-decoration: underline;
    margin-left: 120px;
    margin-top: 30px;
    color: #2980b9;
}

.contain{
    margin-left: 0;
    display: flex;
}
.value {
    padding: 50px;
}
.navbar {
    padding: 50px;
}
.exper {
    padding: 50px;
}
.value h2{
    text-decoration: underline;
}

.count {
    margin-left: 20px;
    background: wheat;
}

.interest {
    margin-left: 40px;
    margin-bottom: 30px;
}

.hili h5{
    color: #2c3e50;
    margin-left: 30px;
    text-decoration: underline;
    text-align: center;
}

.about {
    color: #34495e;
    text-decoration: underline;
    margin-left: 30px;
}


.col {
    flex: 25%;
    padding: 50px;
    margin-top: 0;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    background: #ecf0f1;
  }


.skill {
    column-count: 2;
    background-color: #7f8c8d;
    margin-left: 20px;
    margin-right: 20px;
    
}
  .skill1 {
    
    color: black;
    color: white;
    margin-left: 40px;
    
    
}
.skill1 h1{
    text-align: center;
    
    
}

.soft {
    margin-top: 20px;
}

.btn {
    
    border: none;
    color: white;
    padding: 25px 30px;
    cursor: pointer;
    font-size: 20px;
    background: #3498db;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    border-radius: 30px;
  }
  .btn:hover {
    background-color: rgb(67, 100, 197);
  }

  
  